 <footer class="footer py-3 text-center text-dark" >
        <div class="footer-container">
            <span class="text-dark">
                © 2024 SMARTIS La Boutique de Smart Art |
                <a href="{{ path('terms_of_service') }}" class="text-dark">CGV</a> ·
                <a href="{{ path('terms_of_use') }}" class="text-dark">CGU</a> ·
                <a href="{{ path('privacy_policy') }}" class="text-dark">Politique de Confidentialité</a> ·
                <a href="{{ path('consent_management') }}" class="text-dark">Gestion du Consentement</a> |
                Vos données personnelles sont protégées conformément au RGPD.
            </span>
        </div>
    </footer>