{% extends 'base.html.twig' %}
{% block body %}
<div class="container mt-5">
  <h1 class="account-title">Espace membre</h1>
  <div class="row">
    <div class="col-md-3">
      {% include 'account/_menu.html.twig' %}
    </div>
    <div class="col-md-9">
      <h5>Modification de votre mot de passe</h5>
      <div class="account-card p-4">
        {{ form(modifyPwd) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
