{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <h1>Choix de l'adresse de livraison</h1>
    <div>
        {{ form_start(deliverForm) }}
            {{ form_widget(deliverForm) }}
        {{ form_end(deliverForm) }}
    </div>
</div>
{% endblock %}
